// Text
$text-color-black-first: #1D1A1A;
$text-color-black-second: #373737;
$text-color-grey-first: #919191;
$text-color-green: #30A74B;
$text-color-red: #FF0000;
// Color
$color-grey-first: #F7F7F9;
$color-grey-second: #EEEEEE;
$color-grey-third: #F7F7F7;
// Border
$border-color-grey-first: #E5E5E5;
$border-color-grey-second: #EFEFEF;